
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    src: url(../Assets/fonts/raleway-v34-latin-600.woff2) format('woff2');
    font-weight: 600;

}

@font-face {
    font-display: swap;
    font-family: 'Raleway';
    src: url(../Assets/fonts/raleway-v34-latin-500.woff2) format('woff2');
    font-weight: 500;

}


@font-face {
    font-display: swap;
    font-family: 'Raleway';
    src: url(../Assets/fonts/raleway-v34-latin-300.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url(../Assets/fonts/roboto-v32-latin-regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    src: url(../Assets/fonts/roboto-v32-latin-300.woff2) format('woff2');
    font-weight: 300;
}

:root{color-scheme:light;--bgcol:#fafafa;--prcol:#2b2b2b;--seccolor:#892e6f;--form:#a2a2a2;--seccolor2:#d4af37;--hover:#acacac;--padding:clamp(.5rem, 2rem + 2vw, 4rem);--margin:clamp(.3rem, .3rem + 4.5vw, 4rem)}html{line-height:1.15;-webkit-text-size-adjust:100%;box-sizing:border-box}

body{
    margin:0;
    font-family:Roboto, sans-serif;
    line-height:1.5;
    font-size:clamp(1rem, .15vw + 1rem ,1.125rem)}
h1,h2,h3{font-family:Raleway,serif;margin:0}
img{max-width:100%;height:auto;border-style:none}ol,ul{margin:0;padding:0;list-style:none}a{text-decoration:none;color:inherit}