
header{
    margin-inline: auto;
    padding-block-start: 60px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.flex{
    display: flex;
}

nav{
    grid-column: 1/-1;
    position: fixed;
    left: 0;
    right:0;
    top: 0;
    z-index: 200;
    background-color: var(--bg-col-1);
    box-shadow: var(--shadow);
    height: 60px;

}


/*Components*/

.container-desk{
    margin-inline: auto;
    max-width: 1200px;
}

.bg-section{
    width: 100%;
}

.margin{margin-inline: var(--margin-mobile)}

.padding{
    padding-inline: min(3.5vw,16px);
    padding-block: var(--margin-3);
}


.title-section{
    font-size: var(--btn-l);
}

/*NAV SECTION*/

.nav-container{
    position: relative;
    z-index: 100;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding-inline: var(--margin-mobile);
    

}

.menu-desktop{
    display: none;

}

.burger-menu{
    height: 100%;
    align-content: center;
}

.menu-mobile{

    right: 0;
    left: 0;
    top: -50%;
    z-index: 90;

    user-select: none;
    pointer-events: none;

    display: flex;
    position: fixed; 
    flex-direction: column;
    padding-block-start: var(--margin-1);

    background-color: var(--bg-col-1);
    box-shadow: var(--shadow);
    transition: top 300ms ease-in;
}

.menu-mobile > a {
    font-size: var(--subtitle);
    padding-inline-start: var(--margin-2);
    padding-block:var(--margin-2) ;
    border-block-end: solid 1px var(--bg-col-3);
}

.menu-mobile > a:last-child{
    border: none;
}

.visible{
    user-select: initial;
    pointer-events: initial;
    top: 60px;
}

/*HERO SECTION*/

.hero-img{
    max-height: 550px;
}


.hero-container{
    grid-column: 1/-1;
    text-align: center;
    margin-inline: var(--margin-mobile);
}

.hero-text-container{
    max-width: 550px;
    margin-inline: auto;
}

.hero-title{
    font-size: var(--title-m);
    font-weight: var(--bold);
}

.hero-subtitle{
    margin-block: var(--margin-2);
    font-size: var(--subtitle);
    font-weight: var(--regular);
}

/*CTA HERO SECTION*/

.cta-container{
    padding-block-end: var(--margin-4);
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

}


.btn{
    display: block;
    min-width: 230px;
    padding: var(--margin-1) var(--margin-2);
    

    font-size: var(--btn-m);
    font-weight: var(--bold);

    color: var(--bg-col-1);
    background-color: var(--primary);
    box-shadow: var(--shadow);
    border-radius: 4px;
    transition: all 300ms ease;
}

.btn:hover{
    background-color: var(--primary-hover);
    cursor: pointer;
}


.btn-outline{
    background-color: #fff;
    border: solid 2px var(--txt-col-3);
    color: var(--txt-col-3);
}

.btn-outline:hover{
    background-color: var(--txt-col-2);
    color: var(--bg-col-1);
}

/*BENEFITS SECTION*/


.bg-section.benefits{
    display: flex;
    justify-content: center;
    padding-block: var(--margin-4);
    background-color: var(--txt-col-2);
}

.benefits-container{
    
}

.benefit-section{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-inline: var(--margin-mobile);
    max-width: 1200px;
}



.benefit-box{
    color: var(--bg-col-1);
    text-align: center;
}

.icon-container{
    width: 48px;
    height: 48px;
    background-color: var(--primary);
    border-radius: 100%;
    align-content: center;
    margin-inline: auto;
    margin-block-end: var(--margin-2);
}

.icon{
    display: block;
    margin-inline: auto;
}

.benefit-title{
    font-weight: var(--bold);
    font-size: var(--btn-m);
}

.benefit-par{
    margin: 0;
    max-width: 525px;
}

/*ARTICLE CONTAINER*/

.panels-container{
    grid-column: 1/-1;
}

.section-img{
    width: 100%;
    grid-column: 1/-1;
}

.article-container{
    grid-column: 1/-1;
    padding-block: var(--margin-3);
    margin-inline: var(--margin-mobile);
}

.article-title{
    color: var(--primary);
    text-align: center;
}

/*PRODUCT SECTION*/

.bg-section.products{
    background-color: var(--bg-col-2);
    text-align: center;
    padding-block: var(--margin-3);
}

.bg-section.products > h2 {
    margin-block-end: var(--margin-2);
}

.product-section{
    flex-direction: column;
    gap: var(--margin-3);
    max-width: 1200px;
    margin-inline: auto;
}

.product-box{
    max-width: 300px;
    margin-inline: auto;
}

.product-box > a{
    transition: all 300ms ease;

}

.product-box > a > img{
    border-radius: 4px;
    box-shadow: 0 4px 4px #00000015;
}

.product-box > a:hover{
    filter: brightness(80%);
}

.product-container{
    text-align: start;
}

.product-container > p {
    margin-block: 0;
}

.product-title{
    font-size: var(--subtitle);
}

.product-dimension{
    font-size: var(--txt-s);
    color: var(--txt-col-3);
}

.product-price{
    font-size: var(--btn-l);
    font-weight: var(--bold);
}

.product-link{
    text-decoration: underline;
}

/*CTA SECTION */

.bg-section.cta-section{
    padding-block: var(--margin-3);
    grid-column: 1/-1;
    text-align: center;
    background-color: var(--txt-col-2);
    color: var(--bg-col-1);
}

.text-container > p{
    max-width: 525px;
    margin-inline: auto;
}

.btn-s{
    margin-inline: auto;
    max-width: 320px;
    font-size: var(--btn-s);
}

.list{
    list-style-type: disc;
    padding: var(--margin-2);
}

.list > li {
    margin-block-start: var(--margin-2);
}

/*REVIEW SECTION*/
.bg-section.review{
    background-color: var(--bg-col-2);
    text-align: center;
}


.review-card{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin:var(--margin-3) auto;

    width: 90%;
    max-height: 550px;
    max-width: 350px;
    padding: var(--margin-2);
    border-radius: var(--margin-2);

    box-shadow: var(--shadow);
    background-color: var(--bg-col-1);
}

.review-icon{
    display: block;
    max-width: 32px;
    align-self: baseline;
}

.quote{
    color: var(--txt-col-3);
    margin-block-end: auto;
}


.user-pic{
    margin-inline: auto;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: var(--txt-col-2);
}

.user-name{
    font-size: var(--btn-s);
    font-weight: 700;
}


/*carousel*/

.carousel-container{
    width: 100%;
    margin-inline: auto;
    margin-block-start: 1rem;
}

.carousel{
    overflow: hidden;
    height: auto;
}

.slider-carousel{
    width: 300%;
    height: 100%;
    display: flex;
    transition: all 0.3s ease;
}

.slider-carousel > .review{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/*BUTTONS SLIDER*/

.buttons-slider{
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    padding-block: var(--margin-3);
    align-items: center;
}

.button{
    height: var(--margin-3);
    width: var(--margin-3);

    background-color: var(--txt-col-3);
    border-radius: 100%;
    /* transition: all  0.2s ease; */
}

.button-selected{
    border: solid 2px var(--txt-col-3);
    background-color: var(--bg-col-1);
}

.questions-container{
    grid-column: 1/-1;
}

.questions-container > h2 {
    text-align: center;
    margin-block-end: var(--margin-2);
}



.question{
    margin-inline: auto;
    max-width: 800px;
    background-color: var(--bg-col-2);
    border-radius: 4px;
    box-shadow: var(--shadow);
    margin-block-end: var(--margin-1);
}

.question:hover{
    background-color: var(--bg-col-3);
}

summary{
    padding:var(--margin-2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.question > p{
    margin: 0;
    padding:var(--margin-1);
}

summary::after{
    content: url("../Assets/Svg/arrow-icon.svg");
    transition: transform 0.3s ease;
}



details[open] summary::after{
    transform: rotate(180deg);
}

.question-cta{
    text-align: center;
}

.question-cta > .btn{
    max-width: 320px;
    margin-inline: auto;
}


/*LAST CTA*/


.bg-section.last-cta{
    background-color: var(--primary);
}


.final-cta{
    padding-block:var(--margin-2) ;
    color: var(--bg-col-1);
    text-align: center;
}

.final-cta-container > .article-title{
    color: var(--bg-col-1);
    
}

.final-cta-container > p{
    margin-block-start: 4px;
}

.btn.white{
    max-width: 350px;
    margin-inline: auto;
    background-color: var(--bg-col-1);
    color: var(--txt-col-2);
}

.btn.white:hover{
    background-color: var(--txt-col-2);
    color: var(--bg-col-1);
}



/*FOOTER*/

footer{
    padding: var(--margin-5) var(--margin-mobile);
    min-height:20vh;
    background-color: var(--txt-col-2);
    color: var(--bg-col-1);
}

.link-container{
    max-width: 1200px;
    margin-inline: auto;
    
}

.link-section{
    display: flex;
    flex-direction: column;
}

.link-section div:first-child{
    margin-block-end: var(--margin-5);
}

.link-column{
    flex-direction: column;
    margin-block-end: var(--margin-3);
}


.link-title{
    font-size: var(--btn-l);
}

/* .wrapper{
    max-width: 1200px;
    margin-inline: auto;
} */


@media screen and (min-width: 768px){

    .grid{
        grid-template-columns: repeat(12,1fr);
        max-width: 1200px;
        margin-inline: auto;
    }
    

    .hero-img{
        align-self: center;
    }

    .btn{
        font-size: 20px;
    }

    .hero-text-container{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        
    }
    .cta-container{
        gap: 32px;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .nav-container{
        max-width: 1200px;
        margin-inline: auto;
    }
    
    .menu-desktop{
        display: flex;
        gap: 32px;
    }

    .menu-mobile{
        display: none;
    }

    .burger-menu{
        display: none;
    }


    .product-section{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .panels-container{
        margin-inline: 16px;
    }

    .section-img{
        grid-column: 1/6;
        align-self: center;
    }

    
    .article-container{
        grid-column: 7/-1;
        padding-block: var(--margin-2);
        text-align: start;
    }

    .final-cta-container{
        margin-inline: auto;
        text-align: center;
    }

    .title-section{
        font-size: var(--title-s);
    }

    .final-cta-container > p{
        font-size: var(--subtitle);
    }

    .link-section{
        flex-direction: row;
        gap: 64px;
        justify-content: flex-end;
    }

    .link-section > div:first-child{
        margin:0 auto 0 0;
    }
}


@media screen and (min-width:860px) {
    .hero-container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        min-height: 500px;
        text-align: start;
    }

    .cta-container{
        justify-content: flex-start;
    }
    .article-title{
        text-align: start;
    }
}


@media screen and (min-width: 1024px){
    .hero-container{
        height: clamp(700px,80vh,1000px);
    }
    .hero-text-container{
        margin-inline: 0;
    }
    .hero-img{
        height: 550px;
    }

    .hero-title{
        font-size: var(--title-l);
    }

    .hero-subtitle{
        font-size: var(--subtitle);
    }
    .panels-container{
        padding-block: 64px;
        margin-inline: auto;
    }
    .section-img{
        max-width: 550px;
    }

    .benefit-section{
        flex-direction: row;
    }
    
    .benefit-box{
        text-align: start;
    }
    .icon-container{
        margin-inline: 0;
    }

    .article-container{
        padding-block: 0;
    }
    .final-cta{
        padding-block: var(--margin-3);
    }
    .article-title{
        font-size: var(--btn-l);
    }
    .title-section{
        font-size: var(--title-m);
    }   

    .slider-carousel{
        width: 100%;
        gap: 32px;
        max-width: 1200px;
        margin-inline: auto;
    }
    .buttons-slider{
        display: none;
    }
}